@font-face {
    font-family: fonter;
    src: url(font.ttf);
}
body {
    background-color: #fff;
    font-family: fonter;
}
:root {
    
}
#titler {
   margin: 20px;
   text-align: center;
   font-size: 1.5vw;
}
#finished {
    font-size: 1vw;
}
#goodMorning {
    font-size: 10;
    margin-top: 23vh;
    margin-bottom: 0px;
}