@font-face {
    font-family: fonter;
    src: url(https://crazyblue7.github.io/websites/font.ttf);
}
body {
    background-color: #000;
    font-weight: 700;
    font-family: fonter;
}
#titler {
   margin: 20px;
   text-align: center;
   font-size: 20px;
}
#finished {
    font-size: 15px;
}
#goodMorning {
    font-size: 60px;
    margin-top: 23vh;
    margin-bottom: 0px;
}
.butn {
    font-size: 20px;
}